.side-drawer {
  height: 100%;
  background-color: rgb(250, 250, 250);
  position: fixed;
  top: 0;
  right: -360px;
  width: 380px;
  z-index: 2;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-out;
  overflow: auto;
}

.side-drawer.open {
  display: inline-block;
  right: 0;
}
