.occupancy-body {
  width: calc(33% - 85px);
  display: inline-block;
  overflow: hidden;
  padding: 0 14px;
  margin-right: 12px;
  background: white;
  color: #474747;
  border-radius: 4px;
  border: 1px solid #d5d5d5;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.occupancy-body text {
  font-weight: normal !important;
}

.occupancy-body--full {
  width: 100%;
}

.fullscreen-modal .occupancy-body {
  width: 95vw;
  height: 90vh;
  border: none;
  padding: 32px;
  overflow: scroll;
}
