.scenario-body {
  width: 66%;
  overflow: hidden;
  padding: 0 14px;
  background: white;
  color: #474747;
  border-radius: 4px;
  border: 1px solid #d5d5d5;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  display: inline-block;
}

.scenario-body text {
  font-weight: normal !important;
}

.scenario-body--full {
  width: 100%;
}

.fullscreen-modal .scenario-body {
  width: 95vw;
  height: 90vh;
  border: none;
  padding: 32px;
  overflow: scroll;
}
