.accumulation_data {
  /*-webkit-text-stroke: 1px rgb(255, 255, 255); */ /* width and color */

  text-shadow: -1px 0 #31859c, 0 1px #31859c, 1px 0 #31859c, 0 -1px #31859c;
  font-size: 16;
  font-weight: 400;
}
